@import "./navSection/navSection";
@import "./channelBanner/channelBanner";
@import "./videosSection/videosSection";
@import "./smallVideoCard/smallVideoCard";

.main {
  flex-grow: 1;
  padding-block: 20px 30px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    padding: 0px;
  }

  @media (max-width: 480px) {
    padding: 10px 16px 77px;
  }

  &__not-aside-wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 220px);

    .main__main-content-section {
      padding: 10px 0 0 0;
      overflow-x: auto;

      @media (max-width: 768px) {
        padding: 0;
      }

      @media (max-width: 480px) {
        width: 100%;
      }
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
