@import "./navSection/navSection";
@import "./channelBanner/channelBanner";
@import "./channelNavigation/channelNavigation";
@import "./channelRecChannels/channelRecChannels";
@import "./videosSection/videosSection";
@import "./smallVideoCard/smallVideoCard";
@import "./bigVideoCard/bigVideoCard";

.main {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    padding: 0 0 62px 0;
  }

  &__not-aside-wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 220px);
    padding-left: 30px;
    flex-grow: 1;

    .main__main-channel-about {
      padding: 0 70px 0 0;
      display: flex;
      justify-content: space-between;

      @media (max-width: 768px) {
        margin-left: 16px;
      }
    }

    .main__main-content-section {
      padding: 61px 0 0 0;
      overflow-x: auto;

      @media (max-width: 1024px) {
        padding: 30px 0 0 0;
      }

      @media (max-width: 768px) {
        padding: 0;
      }

      @media (max-width: 480px) {
        width: 100%;
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      padding-left: 0px;
    }
  }
}
